<mat-card class="example-card">
  <mat-card-content>
    <form [formGroup]="productForm" (ngSubmit)="addItem()" class="form-container">
      <h1>Add New User</h1>
      <mat-form-field>
         <input matInput placeholder="Name" formControlName="name">
         <mat-error *ngIf="productForm.get('name')?.invalid && productForm.get('name')?.touched">Name is required</mat-error>
      </mat-form-field>
      <mat-form-field>
         <input matInput placeholder="email" formControlName="email">
         <mat-error *ngIf="productForm.get('email')?.invalid && productForm.get('email')?.touched">Email is required</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" [disabled]="productForm.invalid">Add User</button>
    </form>
  </mat-card-content>
</mat-card>
